.user-navbar{
  background-color: #960736;
  color:white;
  
  height:60px;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
 gap:30px;
  padding-left: 50px;
}
.navbar-btn{
  font-size: 25px !important;
}

/* ul>li{
  list-style: none;
  
} */

/* .main_container{
  height:100vh;
  width: 100%;;
  background-color: white;
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.card_container{
  display: flex;
  
  justify-content: center;
  align-items: center;
 height: auto;
  width: auto;
  padding: 50px;
  background-color:rgb(65, 65, 231);
  gap:10px;
  
}
.card_content{
  width:470px;
  
  border-radius: 10px;
  font-size: 20px;
  padding:10px;
  border-radius: 20px !important;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all .3s ease-in-out;

}
.card_content:hover{
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -10px, 0px);
  
}
.icon{
  padding-right: 10px;
}
.card-price{
  font-size: 50px;
}
.card-period{
  font-size: 20px !important;
}
.btn{
  border-radius: 50px !important;
  font-size: 17px !important;
}
ul>li{
  padding-top: 15px;
  font-size: 17px;
}*/

.display-details{
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 30px;
 
 
 padding: 100px;
 

} 

.table{
  border-collapse: collapse;
  border: 1px solid #960736 !important;
  
}
th,td{
  border:1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}
th {
  background-color: #960736;
  color:white;
  
}

td {
  background-color: #faeff2;
}

/* form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 30px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
} */

.input_field{
  display: flex;
  flex-direction: column;
 
  gap:40px;
  height: auto;
  width:60%;
  border:1px solid #960736;
  box-shadow: 5px 5px 5px #a73c5f;
  
  margin:50px auto;
  padding: 50px;

}
Button{
  background-color: #960736 !important;
  color:white !important;

}

.edit-btn{
  display: flex;
  gap:10px;
}